<h3>Employee Detail</h3>
<table *ngIf="employee">
	<thead>
		<th>Employee Code</th>
		<th>Name</th>
		<th>Designation</th>
		<th>Salary</th>
		<th>Gender</th>
		

	</thead>
	<tbody>
			<tr >
				<td >
						{{employee.code | uppercase}}
				</td>
				<td>{{employee.name | employeeTitle:employee.gender}}</td>
				<td>{{employee.designation}}</td>
				<td>{{employee.salary}}</td>
				<td>{{employee.gender}}</td>
			</tr>
		<!-- <tr *ngIf='employee && employees.length==0'>
			<td colspan="5"> No data available</td>
		</tr> -->
	</tbody>
</table>

<div *ngIf='!employee'>
	{{statusMessage}}
</div>

<div style='padding: 5px;'>
	<input type='button' class='btn btn-primary' value= "Back To Employees Listing" (click)="onBackButtonClick()"/>
	<ng-container *ngIf="!subscription.closed">
		<input type='button' class='btn btn-danger' value= "Cancel Request" (click)="onCancelButtonClick()"/>
	</ng-container>
</div>